.Converter {
   background-color: wheat;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.Converter-field {
   box-sizing: border-box;
   width: 120px;
   height: 32px;
   border: 0 solid #cecece;
   border-radius: 0;
   margin-bottom: 4px;
   padding-left: 10px;
   text-align: center;
}

.Converter-result {
   font-size: 14px;
   box-sizing: border-box;
   padding-top: 3px;
   width: 120px;
   height: 32px;
   background-color: black;
   opacity: 0.45;
   text-align: center;
   vertical-align: middle;
   color: white;
}
